<% if current_user.rated?(picture) %>
  <%# @evaluation = Evaluation.find_by(picture_id: @picture, user_id: current_user.id) %>
  
  <div class ="stars">
    <div class="rated" data-score= <%= picture.evaluations.average(:point).round(2) %> ></div>
  
    <%= form_for(current_user.evaluations.find_by(picture_id: picture.id), html: { method: :delete }) do |f| %>
      <%= hidden_field_tag :picture_id, picture.id %>
      <%= f.submit 'Unrated', class: 'btn btn-danger btn-sm sbox' %>
    <% end %>
  </div>
  
<% else %>
  
  <div class="stars"> 
    <%= form_for(current_user.evaluations.build) do |f| %>
      <%= hidden_field_tag :picture_id, picture.id %>
      <div class='rating'></div>
      <%= f.submit 'RATE', class: 'btn btn-primary btn-sm sbox' %>
    <% end %>
  </div>
  
<% end %>
