<header>
  <div class="upload" id="upload">
    <%= form_for(@picture) do |f| %>
          
      <%= f.label:image, "+Upload Pictures" %>
      <%= f.file_field:image %>
      <%= f.hidden_field:image_cache %>
      <div id="show" class="pichidden">  
        <%=  f.submit 'Post', class:'submit' %>
      </div>
    <% end %>
  </div>
</header>
<%= render 'layouts/flash_messages' %>

<%= render'links' %>      
<%= render 'pictures/pictures', pictures: @pictures %>
