<% if logged_in? %>
    <header>
      <div class="upload" id="upload">
        <%= form_for(@picture) do |f| %>
          
          <%= f.label:image, "+Upload Pictures" %>
          <%= f.file_field:image %>
          <%= f.hidden_field:image_cache %>
          <div id="show" class="pichidden">  
            <%=  f.submit 'Post', class:'submit' %>
          </div>
        <% end %>
      
      </div>
    </header>
    <%= render 'layouts/flash_messages' %>
      
    <%= render 'pictures/pictures', pictures: @pictures %>
  
<% else %>
  <div class="front">
      <h1>Hello Photographers!</h1>
      <%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>
      <%= render 'layouts/flash_messages' %>
      <div class="sub-front">
        <h3 class="words">
          Here is RatePics!<br>
          You can rate all photos and your rates are private. <br>Displayed rates are all averages,
          so it`s good to rate yourselves, RIGHT?<br>
          Clarifai also tells what`s inside of pics. But it`s just a tip.
          Don`t take it seriously!<br>Are you a good photographer?<br>
          Ask here!
        </h3>
      </div>
  </div>
  
  
  
<% end %>