<ul class="media-list">
  <% pictures.each do |picture| %>
    <% user = picture.user %>
    <li class="media">
      
      <div class="media-body">
        <div>
          <%= link_to user.name, user_path(user) %> <span class="text-muted">posted at <%= picture.created_at %></span>
        </div>
        <h2 class="mygraph<%= pictures.find_index picture %>"></h2>
        <div class="pic" >
          <img class=" img-responsive img-rounded" src="<%= picture.image.url%>" alt="">
        </div>
        <%= render 'evaluations/rate_button', picture: picture %>
        <div>
          <% if current_user == picture.user %>
            <%= link_to picture, method: :delete, data: { confirm: "You sure?" }, class:'btn btn-default' do %>
              <span class = "glyphicon glyphicon-trash" ></span>
            <% end %>
          <% end %>
        </div>
      </div>
    
      <script>
        var subscriptionKey = "Key c917092ca91e47019a52f443debc131f";
        var params=JSON.stringify({
          "inputs": [
            {
              "data": {
                "image": {
                  "url": "<%= picture.image.url %>"
                }
              }
            }
          ]
        });
        $.ajax({
          url: "https://api.clarifai.com/v2/models/aaa03c23b3724a16a56b629203edc62c/outputs",
          beforeSend: function(xhrObj){
            // Request headers
            xhrObj.setRequestHeader("Authorization", subscriptionKey);
            xhrObj.setRequestHeader("Content-Type", "application/json");
          },
          type: "POST",
          data: params,
          dataType: "json",
        }).done(function(data){
            var str = JSON.stringify(data);
            var obj = JSON.parse(str);
            var concepts = obj.outputs[0].data.concepts;
            var random = Math.floor(Math.random()*concepts.length);
            $(".mygraph<%= pictures.find_index picture %>").html(concepts[random].name);
            console.log(str);
        }).fail(function(jqXHR, textStatus, errorThrown){
        });
      </script>
    </li>
  <% end %>
  
  <%= paginate pictures %>
</ul>